*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
**/*.orig
**/app/build/intermediates/*
**/.idea/libraries/*
**/app/build/generated/*
*/app/build/outputs/*
